@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');

html, body, figure, img, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul,li, a{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Chicle', cursive;
}

body {
    text-align: center;
    background-color: #ced4da;
    background-image: url('./src/gato-leao.jpg');
    background-size: cover;
     background-position: center;
    
}
  
h1 {
    color: #722f37;
    font-size: 178px;
    text-shadow: 
               -4px -4px 0px #FFF, 
               -4px 4px 0px #FFF,                    
                4px -4px 0px #FFF,                  
                4px 4px 0px #FFF;

}
  
#timer {
    font-size: 248px;
    color:#722f37;
    text-shadow: 
               -4px -4px 0px #FFF, 
               -4px 4px 0px #FFF,                    
                4px -4px 0px #FFF,                  
                4px 4px 0px #FFF;
}
  
button {
    font-size: 18px;
    margin: 5px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-weight: 600;
    cursor: pointer;
    color:#070606;
    border: 3px solid #722f37;
    background-color: #722f37df;
    text-shadow: 
        -1px -1px 0px #FFF, 
        -1px 1px 0px #FFF,                    
        1px -1px 0px #FFF,                  
        1px 0px 0px #FFF;
}

button:disabled{
    background-color: #16131361;
    color:#fffefe;
    border: none;
    text-shadow: 
        -1px -1px 0px #070606, 
        -1px 1px 0px #070606,                    
        1px -1px 0px #070606,                  
        1px 0px 0px #070606;
}
#message {
    font-size: 128px;
    color:#722f37 ;
    text-shadow: 
               -4px -4px 0px #FFF, 
               -4px 4px 0px #FFF,                    
                4px -4px 0px #FFF,                  
                4px 4px 0px #FFF; 
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #722f3771;
    width:100vw;
    height: 50px;
    display: flex;
    align-items: center;
    color:#722f37;
    text-shadow: 
    -1px -1px 0px #FFF, 
    -1px 1px 0px #FFF,                    
     1px -1px 0px #FFF,                  
     1px 0px 0px #FFF; 

}

.footer-conteiner {
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.about {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.text-footer{
    font-size: 20px;
}

.link {
    font-size: 25px;
}